@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit; /* 親要素の色を継承 */
  text-decoration: none; /* 下線を削除 */
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #050505;
  background: #FFFFFF;
}

.container {
  position: relative; /* ローダーの基準点となる */
  background-color: #FFFFFF;
  max-width: 800px;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  overflow-y  : auto;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}

.chat-message-container {
  display: flex;
}

.chat-message {
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
  width: fit-content;
  max-width: 90%;
}

.model-message .chat-message {
  justify-content: flex-start;
  text-align: left;
  color: #050505;
  background-color: #F0F0F0;
}

.user-message .chat-message {
  margin-left: auto;
  text-align: right;
  color: #FFFFFF;
  background-color: #0A7CFF;
}

form {
  display: flex; /* Flexboxレイアウトを有効化 */
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: space-between; /* 水平方向のスペース分配 */
  gap: 10px; /* 要素間の隙間 */
  margin-top: 1rem;
}

textarea, button {
  flex-grow: 1; /* 要素がコンテナ内の利用可能なスペースを均等に埋めるように設定 */
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  padding: 0.2rem;
}

textarea {
  width: 90%;
  padding: 0.3rem;
  overflow: hidden; /* スクロールバーを隠す */
  resize: none; /* ユーザーによるリサイズを無効化 */
}

#submit-button {
  flex-grow: 0; /* ボタンのサイズを内容に基づいて調整 */
}

::placeholder {
  color: #737373;
}

#api-success {
  background-color: #F9F9F9;
  color: black;
  border: none;
}

#api-error {
  background-color: #F9F9F9;
  color: red;
  border: none;
}

.loader {
  position: fixed; /* 画面全体に対して絶対位置 */
  top: 50%; /* 上下中央から */
  left: 50%; /* 左右中央から */
  transform: translate(-50%, -50%); /* 真ん中に配置 */

  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#ff802b 0 0);
  background: 
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}

.copyright {
  margin-top: 1rem;
  text-align: center;
}